h1
{color: red; background-color:#000000; text-align: center;}

h2
{color: rgb(255,255,255); background-color:hsl(140, 100%, 14%);text-decoration: underline;}

h3
{background-color:yellow;font-style: italic;line-height: 5; word-spacing: .75em;}

p
{color:hsl(279, 100%, 19%);font-variant: small-caps;}

ul 
{color:hsl(296, 87%, 83%); letter-spacing: 0.0625em;}

ol
{color:lightgray; background-color:hsl(0, 0%, 100%); letter-spacing: 0.0625em;}

body
{background-color:hsla(303, 85%, 34%, 1);}
em
{text-transform: uppercase;}
strong
{text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;}





